main{
      display: flex;
      margin-top: 50px;
}
main div{
      flex: 1;
      border: 1px solid #c7c7c7;
      padding: 10px;
}
main article{
      flex: 3;
      padding: 10px;
      border: 1px solid #c7c7c7;
      box-shadow: 4px rgba(0, 0, 0, 0.3);
      min-height: 80vh;
}
article img{
      width:100% ;
}
