/* 
------------------------------------------------------
------------------------------------------------------
*/
html{
    scroll-behavior: smooth;
}
/*color*/
:root {
      --purple-color: #6C327F;
      --purple-color-light:#6a0dad;
      --black-color: #000000;
      --white-color: #ffffff;
      --text-color: #333;
      --gray-color: #D9D9D9;
  }
/* Reset CSS */

/* General Styles */
body {
    font-family: Manjari, Helvetca, Arial, sans-serif;
}
body, html {

      margin: 0;
      padding: 0;
  }
.container{
      max-width: 1440px; 
      margin: 0 auto;
      padding-bottom: 30px; 
      box-sizing: border-box;
      position: relative;

}
/* Common styles for headings */
h1 {
    color: var(--text-color);
    font-size: 24px;
}

h2 {
    color: var(--text-color);
    font-size: 20px;
}

h3 {
    color: var(--text-color);
    font-size: 18px;
}

/* Common styles for links */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* 
------------------------------------------------------
    Component Styles
------------------------------------------------------
*/


main {
    margin-left: 19em;
    max-width: 1100px;
}

/* Footer Styles */
footer {
    background-color: var(--text-color);
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* 
------------------------------------------------------
    Specific Page Styles
------------------------------------------------------
*/

/* Styles specific to a particular page */


/* 
------------------------------------------------------
    Media Queries
------------------------------------------------------
*/

/* Media queries for responsive design */
