/* General Styles */
@import url(format.css);

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

/* Header Styles */
header {
  position: fixed;
  background-color: var(--purple-color);
  color: white;
  text-align: center;
  top: 0;
  padding: 1em;
  width: 16em;
  height:100%;
}
.avatar {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 5px solid white;
  object-fit: cover;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
}

.name {
  font-size: 25px;
}
/* ---- scroll to top ----- */
#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: var(--purple-color);
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}

#scrollToTopBtn:hover {
  background-color: var(--purple-color-light);
}
/*----- menu ---- */
#menu {
  display:none;
  position: fixed;
  bottom: 80px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: var(--purple-color);
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}

#menu:hover {
  background-color: var(--purple-color-light);
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none; 
  z-index: 999;
}

#overlay.show {
  display: block; 
}
#closeMenu{
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}
/* ---- Nav ---- */

nav {
  position: absolute;
  right: 0;
  width: 17em;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin: 10px 0;
  padding: 0;
}

nav a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  background-color: #6a0dad;
  border-radius: 10px 0 0 10px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

nav img {
  margin-right: 10px;
  width: 35px;
}

nav a .icon-active {
  display: none;
  opacity: 0;
  transition: opacity 0.3s;
}

nav li.active a {
  background-color: #ffffff;
  color: #000;
}

nav li.active a .icon-default {
  display: none;
  opacity: 0;
  transition: opacity 0.3s;
}

nav li.active a .icon-active {
  display: block;
  opacity: 1;
  transition: opacity 0.3s;
}

nav img.icon {
  margin-right: 10px;
  /* Khoảng cách giữa hình ảnh và văn bản */
  width: 24px;
  /* Kích thước của các biểu tượng */
  height: 24px;
  /* Kích thước của các biểu tượng */
}


.about-me {
  background-color: var(--white-color);
  display: flex;
  padding: 10px;
  margin: 0 10px 0 0;
  border-radius: 10px;
}

.avatar-box-name {
  display: flex;
}

.avatar-box-name img {
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.my-avatar {
  margin: 0 10px 0 0;
}

.avatar-box,
.contact-box {
  flex: 1;
}

.contact-box-info {
  display: flex;
  align-items: center;
  padding: 5px 0 5px 0;
}

.contact-box-info img {
  margin: 0 10px 0 0;
  width: 40px;
  height: 40px;
}

/* ------------ My-knowledge-------- */

.my-knowledge {
  display: flex;
  margin: 10px 0 0 0;
  width: 100%;
}

.my-skills {
  flex: 1;
  border-radius: 10px;
  background-color: var(--white-color);
}

.certificate {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  margin: 0px 10px 0 10px;
  background-color: var(--white-color);
}

.certificate-info {
  flex: 0.7;
}
.my-experience{
  flex: 2;
}

.my-projects {
  display: flex;
}

.my-project {
  position: relative;
  width: 30%;
  height: 290px;
  padding: 10px;
  margin: 10px 10px 0 10px;
  border-radius: 10px;
  background-size: contain;
  background-position: center;
  overflow: hidden;
  cursor: pointer;
  
}
.my-project-context{
  position: absolute;
  color: var(--white-color);
}
.my-project-context p{
  background-color:var(--purple-color);
  padding: 10px;
  border: 1px solid white;
}
div.overlay2 {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px; 
  pointer-events: none; 
}
ul {
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}

li {
  padding: 5px;
}

li:last-child {
  border-bottom: none;
}

/* -------mycetificate-------- */
/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
  
}

/*--------- project video -------- */
.youtube-player-overlay{
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  pointer-events: none;
}
.youtube-player-overlay.active2{
  opacity: 1;
  pointer-events: auto;
}
.my-project-video{
  position: fixed;
  width: 80%;
  left: 50%;
  transform: translate(-50%, -100%);
  transition: all 0.4 ease;
}
.youtube-player-overlay.active2 .my-project-video{
  transform: translate(-50%,0);
}
.my-project-video iframe{
  width: 100%;
  aspect-ratio: 16/9;
}
@media only screen and (max-width: 700px) {
  .my-project-video {
    width: 100%;
  }
  
}
/*------------ knowledsharing-------- */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.grid-item {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.background-image {
  height: 200px;
  overflow: hidden;
}
.background-image img{
  width: 100%;
  object-position: center;
  transition: .5s ease;
}
.status{
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.notification {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}

.noti-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 300px;
  text-align: center;
  position: relative;
  border-radius: 8px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #7600ba76;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}
.grid-item:hover .overlay {
  height: 20%;
}
.grid-item:hover .topic-image {
  transform: scale(1.1);
}
.fields {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.topic-name{
  font-size: 20px;
}
.grid-item p {
  text-align: center;
}
/* ========= << 1250 px ========= */
@media screen and (max-width: 1200px){
  .my-knowledge{
    display: inline;
  }
  .my-skills{
    border-bottom: 1px solid rgb(111, 111, 111);;
  }
  .my-avatar{
    width: 120px;
    height: auto;
  }
}
/* =========== <<1100 px ========== */
@media screen and (max-width:1100px){
  .about-me{
    display: inline;
  }
  .contact-box-title {
    font-weight: bold;
    font-size: 20px;
  }
  #overlay{
    display: none;
  }
}
/* ========== << 500 px ========== */
@media screen and (max-width:500px){
  header {
    left: -300px;
    color: white;
    padding: 1em;
    z-index: 1000;
    transition: left 0.3s;
}
.my-projects{
  display: inline;
}
.my-project{
  width: 90%;
}
header.show {
  left: 0; 
}
header.closemenu{
  left: -300px;
}
#menu{
  display: block;
}

main {
  position: relative;
  margin-left: 0;
  max-width: 1100px;
  padding: 20px;
}
.avatar{
  width: 100px;
  height: 100px;
}
nav {
  width: 90%;
}
}