<footer>
      <hr style="background-color:#6d6d6d; height: 2px;">
      <div class="contact">
            <div class="img-cute-boy"><img src="images/cuteboy.jpg" alt=""></div>
            <div class="contact-box">
                  <p data-translate="contact" class="contact-box-title"></p>
                  <hr style="background-color:#6d6d6d; height: 1px;">
                  <br>
                  <div class="contact-box-info" id="email-address">
                        <img src="./images/email.png" alt="mail">
                        <div><a href="mailto:tranvannamntt@gmail.com"> tranvannamntt@gmail.com</a>
                        </div>
                  </div>
                  <div class="contact-box-info">
                        <img src="./images/phone.png" alt="mail">
                        <p data-translate="phone"></p>
                  </div>
                  <div class="contact-box-info">
                        <img src="images/github.png" alt="mail">
                        <p>GitHub </br><a href="https://github.com/VanNamTran"
                                    target="_blank">https://github.com/VanNamTran</a></p>
                  </div>
            </div>
      </div>
</footer>