<header id="header">
      <div class="header-container">
            <button id="menu-toggle" class="menu-toggle" aria-label="Toggle menu">&#9776;</button>
            
            <h2 data-translate="title2"></h2>
            <div style="display: flex;"><a href="./index.html">
                        <div class="blog">
                              <div>About me</div>
                        </div>
                  </a>
                  <select id="language-selector">
                        <option value="en">English</option>
                        <option value="vi">Tiếng Việt</option>
                  </select>
            </div>
      </div>
</header>
<div id="main-nav" class="hidden"></div>
<div id="overlay" class="overlay hidden"></div>