<aside class="sidebar">
      <div style="display: flex; justify-content: space-between; padding: 10px;align-items: center;"><strong data-translate="contents">Contents</strong></div>
      <ul>
            <li><a href="/internet.html" data-link><img src="images/internet.jpeg" alt="Post 1"><p id="post1-title" data-translate="networkDefinitionTitle">Mạng máy tính</p></a></li>
            <li><a href="/to_cc_bcc_email_sending.html" data-link><img src="images/gmail.png" alt="Post 2"><p id="post1-title" data-translate="emailDifferencesTitle">Khác biệt giữa To, CC và BCC khi gửi Email ?</p></a></li>
            <li><a href="/email_marketing.html" data-link><img src="images/email_marketing.png" alt="Post 3"><p id="post1-title" data-translate="measuringEffectivenessInEmailMarketing">Measuring Effectiveness in Email Marketing</p></a></li>
      </ul>
</aside>
